<div class="container">
    <div class="row">
        <h3>Partie #{{id}}</h3>
        <div class="row">
            <div class="col s12">
                <button class="btn orange darken-3">Modifier</button>
                <button class="btn red darken-3">Supprimer</button>
            </div>
        </div>

        <div class="row">
            <h4>Informations sur la partie :</h4>
            <div class="col s6">
                <h5>Classement actuel :</h5>
                <table class="striped centered">
                    <thead>
                    <tr>
                        <th data-field="id">#</th>
                        <th data-field="name">Nom</th>
                        <th data-field="points">Points</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <td>1</td>
                        <td>Romain</td>
                        <td>100</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Jérôme</td>
                        <td>90</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Charles-hadrien</td>
                        <td>80</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Moka</td>
                        <td>70</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col s6">
                <h5>Dernières marches :</h5>
                <table class="striped centered">
                    <thead>
                    <tr>
                        <th data-field="president">Président</th>
                        <th data-field="vice-president">Vice-président</th>
                        <th data-field="vice-trou-d-uc">Vice-trou-d'uc</th>
                        <th data-field="trou-d-uc">Trou-d'uc</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <td>Romain</td>
                        <td>Romain</td>
                        <td>Romain</td>
                        <td>Romain</td>
                    </tr>
                    <tr>
                        <td>Romain</td>
                        <td>Romain</td>
                        <td>Romain</td>
                        <td>Romain</td>
                    </tr>
                    <tr>
                        <td>Romain</td>
                        <td>Romain</td>
                        <td>Romain</td>
                        <td>Romain</td>
                    </tr>
                    <tr>
                        <td>Romain</td>
                        <td>Romain</td>
                        <td>Romain</td>
                        <td>Romain</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col s12">
                <button class="btn blue darken-3">Statistiques</button>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <h4>Ajouter un manche :</h4>
                <table class="striped centered">
                    <thead>
                    <tr>
                        <th data-field="president">Président</th>
                        <th data-field="vice-president">Vice-président</th>
                        <th data-field="vice-trou-d-uc">Vice-trou-d'uc</th>
                        <th data-field="trou-d-uc">Trou-d'uc</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <td>
                            <div class="input-field col s12">
                                <select>
                                    <option value="" disabled selected>Selectionner un joueur</option>
                                    <option value="1">Romain</option>
                                    <option value="2">Jerome</option>
                                    <option value="3">Charles-Hadrien</option>
                                    <option value="3">Moka</option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class="input-field col s12">
                            <select>
                                <option value="" disabled selected>Selectionner un joueur</option>
                                <option value="1">Romain</option>
                                <option value="2">Jerome</option>
                                <option value="3">Charles-Hadrien</option>
                                <option value="3">Moka</option>
                            </select>
                        </div></td>
                        <td>
                            <div class="input-field col s12">
                                <select>
                                    <option value="" disabled selected>Selectionner un joueur</option>
                                    <option value="1">Romain</option>
                                    <option value="2">Jerome</option>
                                    <option value="3">Charles-Hadrien</option>
                                    <option value="3">Moka</option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class="input-field col s12">
                                <select>
                                    <option value="" disabled selected>Selectionner un joueur</option>
                                    <option value="1">Romain</option>
                                    <option value="2">Jerome</option>
                                    <option value="3">Charles-Hadrien</option>
                                    <option value="3">Moka</option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col s12">
                <button class="btn green darken-3">valider</button>
            </div>
        </div>
    </div>
</div>