<div class="">
    <div class="row">
        <div class="col s6">
            <table class="striped centered">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Président</th>
                    <th>Vice-Président</th>
                    <th>Vice-trou d'uc</th>
                    <th>Trou d'uc</th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="player in playersNames">
                        <td>{{player}}</td>
                        <td ng-init="positionTable = positionTable(player, rounds)" ng-repeat="position in rounds[0].result">{{positionTable[$index]}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>